:root {
  --patternBar-typicalLength: calc(attr(data-width) * 1%);
  --patternBar-questionUsage: calc(attr(data-width) * 1%);
  --patternBar-bracketUsage: calc(attr(data-width) * 1%);
  --patternBar-colonUsage: calc(attr(data-width) * 1%);
  --patternBar-numberInBeginning: calc(attr(data-width) * 1%);
  --patternBar-emojiUsage: calc(attr(data-width) * 1%);
}

html {
  @media (width < 740px) {
    font-size: 56.25%;
  }
  @media (width >= 740px) {
    font-size: 62.5%;
  }
}

body {
  background: #282828;
  color: #fff;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  cursor: pointer;
}

article,
footer,
header,
main,
section {
  container-type: inline-size;
}

button {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

canvas,
img,
picture,
svg,
video {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  pointer-events: none;
  shape-margin: 1rem;
  vertical-align: middle;
}

figcaption,
li,
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input,
textarea {
  min-width: 0;
}

ol,
ul {
  list-style: none;
}
